:root {
    --primary-color: #709B93;
    --secondary-color: #EFF4F3;
    --background-color: #ffffff;
    --text-color: #333;
    --banner-background-color: #e0f7fa;
    --border-color: #ccc;
}
html {
    scroll-behavior: smooth;
}
/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
a,
form,
input,
textarea,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to bottom, rgb(112, 155, 147), #ffffff); */
    background-color: #f3feff;
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: linear-gradient(to bottom, rgb(112, 155, 147), rgb(123, 184, 173));
    color: #fff;
    padding: .8rem 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.banner {
    text-align: center;
    padding: 2rem 0;
    background-image: url('./assets/img/manicure_jau_nail_designer.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--text-color);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.534);
    /* Adjust the opacity as needed */
    z-index: -1;
}

.texto-banner {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/*botão scroll to top*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 40px; 
    width: auto;
    display: none;
    z-index: 1000;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}


.sobre,
.servicos,
.blog,
.avaliacoes,
.contato {
    padding: 2rem 0;
}

.sobre h2,
.servicos h2,
.price-table h2,
.blog h2,
.avaliacoes h2,
.contato h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.servico-item,
.blog-item {
    text-align: center;
    margin-bottom: 1rem;
}

.servico-item img,
.blog-item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

/* Serviços */
.card-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}


.btn {
    /* display: inline-block; */
    padding: 8px 12px;
    /* margin: 10px 0 0 0; */
    background-color: #ff69b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.price-table .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn:hover {
    background-color: #ff1493;
     transform: translateY(-3px);
    transition: transform 0.5s ease;
     
}

.price-table {
    padding: 50px 0;
    /* background-color: #f9f9f9; */
}

.price-table .container-price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center; /* Centraliza verticalmente */
    justify-items: center; /* Centraliza horizontalmente */
    margin-left: 200px;
    margin-right: 200px;
}

.price-table .card {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    margin: 10px;
}

.price-table .card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: -8px;
}

.price-table .card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.price-table .card .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

/* fim Serviços */

.avaliacoes-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color);
    margin-bottom: 10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1), 0 1px 20px rgba(0, 0, 0, 0.1);

}

.avaliacao {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    transition: transform 0.5s ease;
}
.avaliacao h3 {
    margin-top: -10px;
    margin-bottom: -10px;
}

.foto-cliente {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.estrelas {
    color: #ffb400;
    font-size: 1.9rem;
    margin: 0.3rem 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 5px;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
    background-color: var(--primary-color);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.bullets {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: var(--border-color);
    border-radius: 50%;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bullet.active,
.bullet:hover {
    background-color: var(--primary-color);
}


form {
    display: flex;
    flex-wrap: wrap;
    /* gap: .1rem; */
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--background-color);
    width: 50%;
    margin: 0 auto; /* Center the form */
}

form label {
    flex: 1 1 100%;
}

form input,
form textarea {
    flex: 1 1 calc(50% - 1rem);
    padding: 0.5rem;
    border: 1px solid #b2dfdb; /* lighter green */
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}
form textarea {
    margin-bottom: 20px;
    resize: none;
    padding: 1.3rem;
}

form input:focus,
form textarea:focus {
    border: 1px solid var(--primary-color); /* stronger green */
}

form button {
    flex: 1 1 100%;
    padding: 0.5rem 2rem;
    background: linear-gradient(to bottom, rgb(112, 155, 147), rgb(123, 184, 173));
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
}

form button:hover {
    opacity: .8;
}

.redes-sociais {
    text-align: center;
    margin-top: 1rem;
}

.redes-sociais a {
    margin: 0 0.5rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    opacity: .4;
}

footer {
    text-align: center;
    padding: .5rem 0;
    background: linear-gradient(to bottom, rgb(112, 155, 147), rgb(123, 184, 173));
    color: #fff;
    font-size: 12px;
}
/*Whatsapp button*/
.whatsapp-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgba(37, 211, 10);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(37, 211, 10, .9);
    z-index: -1;
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    70% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1.9);
        opacity: 0;
    }
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .price-table .container-price {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .banner {
        height: 300px;
    }

    .price-table .container-price {
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
    }

    form {
        width: 90%;
    }

    .prev, .next {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
    }

    .banner {
        height: 250px;
    }

    .texto-banner h1 {
        font-size: 1.5rem;
    }

    .price-table .card {
        width: 100%;
    }

    form input,
    form textarea {
        flex: 1 1 100%;
    }

    .whatsapp-button {
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        font-size: 25px;
    }
}